{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":17,"column":0},"end":{"row":17,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"0d842dd345f1129898bfc2eb06fd9723d6dbfc57","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1774617896699}