# .ebextensions/03_custom_iam_policy.config
Resources:
  MyCustomPolicy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      Description: "Custom policy for S3 access"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "s3:ListBucket"
              - "s3:GetObject"
              - "s3:PutObject"
              - "s3:DeleteObject"
              - "s3:GetObjectVersion"
            Resource:
              - "arn:aws:s3:::elasticbeanstalk-us-east-1-633626558180"
              - "arn:aws:s3:::elasticbeanstalk-us-east-1-633626558180/*"
          - Effect: "Allow"
            Action:
              - "s3:ListAllMyBuckets"
            Resource: "*"