{"filter":false,"title":"03_custom_iam_policy.config","tooltip":"/.ebextensions/03_custom_iam_policy.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":43},"end":{"row":18,"column":43},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1776076650239,"hash":"379b39a85807814fdd3827ffb6970a1b6fc76b10"}